/* General setup */

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
  }
  
  /* Layout */
  
  section {
    float: left;
    width: 50%;
  }
  
  aside {
    float: left;
    width: 30%;
  }
  
  nav {
    float: left;
    width: 20%;
  }
  
  footer {
    clear: both;
    text-align:center;
    color:rgb(0, 10, 84);
    font-size: 30px;
  }
  
  header, section, aside, nav, footer {
    padding: 20px;
  }
  
  /* header and footer */
  
  header, footer {
    border-top: 5px solid rgb(0, 16, 135);
    border-bottom: 5px solid rgb(0, 16, 135);
    background-image: url("C:Users/kamiy/Desktop/Web Development/Week 4/Yasmeen Project 2/download.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%
   }
  
  h1 {
    color:rgb(0, 10, 84);
    text-align: center;
    font-size: 60px;
    }
    
  h2 {
     color:goldenrod;
     text-align: center;

  }

  h3 {
     color:goldenrod
  }
   /* WRITE YOUR CODE BELOW HERE */
  p {
    color:white;
    text-align: center;
  }

  ul {
    border-style:double;
    border-color:goldenrod;
    border-width: 20px;
    background-color: rgba(0, 75, 174, 0.45);
    color:white
  }

  ol {
    border-style:double;
    border-color:goldenrod;
    border-width: 20px;
    background-color: rgba(0, 75, 174, 0.45);
    color:white

  }
  
  a {
    color: goldenrod
  }